@font-face {
    font-family: 'BPG extra square';
    src: url('../fonts/bpg_banner_extrasquare-webfont.eot');
    src: url('../fonts/bpg_banner_extrasquare-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bpg_banner_extrasquare-webfont.woff') format('woff'),
    url('../fonts/bpg_banner_extrasquare-webfont.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: 'BPG extra square';
}

